/* Main Styles ===================== */
html, 
body {
	position: relative;
	min-height: 100vh;
}

.mainnav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 0;
	list-style: none;

}

a {
	color: white;
	text-decoration: none;
	
}

body {
	margin: 0;
	background-color: #55aefa;
	display: flex;
	flex-direction: column;
}

.giantmooseimg {
	display: block;
	width: 75%;
	margin-right: auto;
	margin-left: auto; 
  	background-image: none;
  	background-repeat: none;
}

/* Footer ========================== */

.footer {
	width: 100%;
	background-color: #55aefa;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
  }

/* Home page ======================= */

.containerMain {
	color: white;
    display: flex;
    align-items: center;
	justify-content: center;
}

.contentMain {
	width: 33%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.25em;
	text-align: center;
}

/* Music page ====================== */

.containerMusic {
	color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentMusic {
	width: 33%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Tour Page ======================= */

.dates {
	list-style: none;
	text-align: center;
	color: white;
	display: inline;
}

.tour {
	text-align: center;
	color: white;
	font-size: 3em;
	margin: auto;
}

/* Media queries========================= */

@media (max-width: 600px) {
	* {
		box-sizing: border-box;
		padding: 5px;
		margin: 0;
	}

	.mainnav {
		font-size: 32px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.containerMain {
		flex-wrap: nonwrap;
		flex-direction: column;
	}
	
	.contentMain {
	width: 100%;
	}

	.containerMusic {
		flex-wrap: nonwrap;
		flex-direction: column;
	}
	
	.contentMusic {
	width: 100%;
	}
}

@media (min-width: 1250px) {
	.mainnav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 0;
		list-style: none;
		font-size: 2em;
	}

	.giantmooseimg {
		display: block;
		width: 100%;
		margin-right: auto;
		margin-left: auto; 
		  background-image: none;
		  background-repeat: none;
	}


}