
body {
	margin: 0;
	background-color: whitesmoke;
}


/*top nav ========================================= */


.nav-bar {
	background-color: violet;
	width: 100%;

}

.nav-bar2 {
	list-style-type: none;
	padding: 10px;
}


/* links =========================================== */
.nav-bar2 a:visited {
	color: whitesmoke;
}

.nav-bar2 a:hover {
	color: unset;
}


/* media queries============================= */

@media ( max-width: 480px ) {

	.nav-bar2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 1;
	}

}

@media ( min-width: 720px ) {

	.nav-bar2 {
		display: flex;
		justify-content: space-around;

	}

}